.app, .header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.Square {
  width: 45px;
  height: 45px;
  margin: 25px;
  border-radius: 4px;
}

.Square:hover{
  cursor: pointer;
}
